body {
  margin: 0;
  font-family: 'Oswald', 'Fjalla One','Source Sans Pro',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00897b;
}
#container{
  width: 90vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#LogNav{
  width: 55%;
  height: 90%;
}

#cardActors{
  height: 29vh;
}